@import "tailwindcss";

@theme {
    --color-light: #F6F6F6;
    --color-dark: #000000;
    --color-white: #ffffff;
}

html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  scroll-behavior: smooth;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #18181b;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #18181b transparent;
}